ion-toolbar {
    --background: rgba(173, 216, 230, 0.15);
    color: rgb(236, 247, 252);
    text-align: center;
}

ion-content {
    --ion-background-color: transparent;
    background-color: transparent;
    background: url('../../assets/night-image.jpg') no-repeat center center / cover;
    background-attachment: fixed;
}

ion-button {
    width: 50%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

ion-list {
    margin-top: 3%;
    background-color: rgba(48, 5, 129, 0.3)
}

ion-radio {
    --color: white;
    --color-checked: yellow;
}

.ion-list-label {
    font-size: large;
    color: yellow;
}