ion-tab-bar {
    --background: rgba(173, 216, 230, 0.35);
}

ion-tab-button {
    --background: transparent;
    --color: rgb(236, 247, 252);
    --color-selected: rgb(197, 164, 254);
    font-weight: bold;
}
